body, html, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Matrix {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 800px;
}

.row {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cell {
  border: 0.5mm ridge rgba(0, 0, 0, 0.6);
  width: 80px;
  height: 80px;
}
